body{
    background-color: bisque;
}
.main{
    width: 100px;
    margin:25px;
    padding: 20px;
    border: 2px solid red;
}
nav{
    width:100%;
    background-color: rgb(171, 171, 138);
}
nav ul{
    list-style-type: none; 
    position: relative;
	display: inline-table;
  
}
nav li{
    float:left;    margin: 20px 0; 
    padding: 20px 0;
    margin-right: 20px;     
}
nav li a{
    text-decoration: none;
    display: block;
}
nav li:hover{
    background-color: burlywood;
}
nav ul li a:hover{
    text-decoration: underline;
}
.lezaro{
    clear: both;
}
nav ul li > ul {
    display: none;
    z-index: 100;
}
nav ul li:hover > ul {
    display: block;
}
nav ul ul li {
    float: none; 
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;
}
nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}	
nav ul ul li a:hover {
    background: #4b545f;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gold;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.content {
    padding: 20px;
}
.img{
    width: 200px;
}